{% extends "base.html" %}
{% block container %}
<br><br>
    <div class="card" style="width: 22rem;margin: auto;">
        <div class="card-header bg-primary"><br>
         en tete
        </div><br><br>
        <div class="card-body">
            <p class="card-text">Ceux-ci est un travail de group de 3 personnes</p>
            <p>Pour de voir le code source ,veillez cliquer sur le lien ci-dessous</p>
            <a href="https://github.com/AdamMusa/TpeChat">aller sur github</a>
        </div>
    </div>

{% endblock container %}
