{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block container %} <br>
<div class="container" style="width: 30rem;">
  
  <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          {% if success %}
          <div class="alert-success">
              {{success}}
          </div><br>
          {% endif %}
          {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">Changer</button>
  </form>
     
    </fieldset>
</div>

{% endblock container %}
