{% extends "base.html" %}
{% block container %} <br>
<div class="container text-center">
    {% for data in request.user.commander.all %}
    {% if data.valider == True %}
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Deja validé</h5>
            <h4 class="card-text">Votre solde est de {{data.user.profile.credit}} sms.Vous pouvez envoyer de sms a vos contacts</h4> <a href="/"
                class="btn btn-primary">Go back at home</a>
        </div>
    </div>

    {% else %}
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">pas encore validé</h5>
            <h4 class="card-text">Votre solde est de {{request.user.profile.credit}} sms.Veillez activer votre solde</h4> <a href="/"
                class="btn btn-primary">Go back at home</a>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Vous n'avez pas effectué de commande </h5>
            <h4 class="card-text">Votre solde est de {{0}} sms.Rendez-vous a nos packs disponible pour effectuer de commande </h4> <a href="/"
                class="btn btn-primary">Go back at home</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock container %}